{% extends "base.html" %}

{% block title %}{{ article.titre }}{% endblock %}

{% block content %}

	<p>
		<a href="{% url 'accueil' %}">Retour à la liste des doléances</a>
	</p>

	<h2 class="titre-article">{{ article.titre }}</h2>
	<p class="infos-article">Par {{ article.pseudo }}, le {{ article.date }}</p>

	<div class="row">
		<div class="col-lg-10 col-sm-12">
			<img src="{{article.photo.url}}" alt="Photo" style="height:400px;width:100%;">
		</div>
		<div class="col-lg-10 col-sm-12" style="margin-top:5px;">
			<p>{{ article.contenu|safe }}</p>
		</div>
	</div>

	<h3 class="titre-comments">Commentaires</h3>

	<h4>Poster votre propre commentaire</h4>
	<form action="{% url 'blog_lire' article.id %}" method="POST" class="pure-form">
		{% csrf_token %}
		{{form.as_p}}
		<p style="text-align:center">
			<input class="pure-button pure-button-primary" type="submit" value="Envoyer" />
		</p>
	</form>

	<div class="clear"></div>
	<hr />


	<div class="commentaire">

		{% for commentaire in article.comment_list %}
				<ul>
					<li><p>{{ commentaire.pseudo }}, le {{ commentaire.date }}</p>
							<p>{{ commentaire.contenu }}</p></li>
				</ul>
    {% empty %}

    <p style="text-align:center; color:red; font-weight:bold;">Aucun commentaire pour l'instant !.</p>
    {% endfor %}
	</div>

{% endblock %}
